.projects-page-container{
    background-color: #23262D;
    color: #fff;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    box-sizing: border-box;
}

.projects-basic-info{
    text-align: center;
    border-right: 2px dashed #37FDA4;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 85vh;
}

.projects-basic-info h1{
    padding: 10px 0px;
}

.projects-basic-info img{
    border-radius: 5px;
    width: 80%;
    align-self: center;
}

.projects-page-description{
    width: 80vw;
}

.projects-page-description h2{
    padding-left: 20px;
    padding-bottom: 20px;
}

.projects-page-description p{
    display: inline-block;
    padding-left: 20px;
    width: 90%;
    text-align: left;
    line-height: 40px;
}

.projects-basic-info div{
    justify-self: end;
}

.projects-basic-info div img{
    width: auto;
}
