#about-container{
    padding: 100px 0px;
    background-color: #23262D;
}

.about-info{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.about-me{
    display: flex;
    padding: 0 10px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.about-me h2{
    font-size: 30px;
    color: #37FDA4;
    font-family: 'Source Code Pro', 'Consolas', 'Poppins';
}

.about-me div p{
    display: inline-block;
    width: 28vw;
    font-size: 16px;
    color: #fff;
    padding: 10px 10px;
    line-height: 35px;
}

.about-list {
    box-sizing: border-box;
    width: 38vw;
    padding: 30px 0;
    color: #fff;
    border-top: 2px solid #37FDA4;
}

.about-list p{
    width: 40vw;
    line-height: 35px;
}

.about-list ul{
   padding: 20px 0;
   width: 90%;
   margin: 0 auto;
   list-style-type: square;
}

.about-list a{
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #2CC983;
    color: #fff;
    transition: background-color .3s ease;
    box-sizing: border-box;
}
    
.about-list a:hover{
    transition: background-color .3s ease;
    background-color: #23262D;
    border: 1px solid #fff;
}
